{% extends "base.html" %}

{% block tableHeader %}
  <table id="data" class="table table-hover">
    <thead>
      <tr style="color: #920000; background: rgb(218, 218, 218); border: #920000">
        <th>Source System Id</th>
        <th>Source System Name</th>
        <th>Bucket Name</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
{% endblock %}

{% block tableContent %}
<script>
  $(document).ready(function () {
    var table = $('#data').DataTable({
      ajax: { "url": "/sourceSystem/data" },
      columns: [
        {data: 'src_sys_id', orderable: true},
        {data: 'src_sys_nm', orderable: true},
        {data: 'bucket_name', orderable: true},
      ],
    });

    $('#data tbody').on('click', 'tr', function (row) {
      var cur_row = table.row( this ).data();
      $('#data tbody > tr').removeClass('tableRow_selected');
      $(this).addClass('tableRow_selected');
      var builtHTML = ' \
        <div class="data_detail_frame"> \
          <div id="content left" style="float:left; width: 50%; padding-left:150px; padding-top:50px"> \
            <p class="dataDetail_headings">Source System Name</p> \
            <p class="dataDetail_values">' + cur_row["src_sys_nm"] + '</p> \
            <p class="dataDetail_headings">Source System Id</p> \
            <p class="dataDetail_values">' + cur_row["src_sys_id"] + '</p> \
            <p class="dataDetail_headings">Mechanism</p> \
            <p class="dataDetail_values">' + cur_row["mechanism"] + '</p> \
          </div> \
          <div id="content right" style="float:right; padding-right: 200px; padding-top:50px;"> \
            <p class="dataDetail_headings">Bucket Name</p> \
            <p class="dataDetail_values">' + cur_row["bucket_name"] + '</p> \
            <p class="dataDetail_headings">Data Owner</p> \
            <p class="dataDetail_values">' + cur_row["data_owner"] + '</p> \
            <p class="dataDetail_headings">Support Contact</p> \
            <p class="dataDetail_values">' + cur_row["support_cntct"] + '</p> \
          </div> \
        </div>'

      document.getElementById("srcSysAttributes").innerHTML = builtHTML;
      if ($(this).hasClass('tableRow_selected')) {
        var create_button = document.getElementById("create_button");
        var modify_button = document.getElementById("modify_button");
        var delete_button = document.getElementById("delete_button");
        modify_button.disabled = false;
        delete_button.disabled = false;
      }

      document.getElementById("modify_button").onclick = function () {
        location.href = "/sourceSystem/editSource?src_sys_id="+cur_row["src_sys_id"];
      }

      document.getElementById("delete_button").onclick = function () {
        location.href = "/sourceSystem/editSource?src_sys_id="+cur_row["src_sys_id"];
      }
    });
    document.getElementById("create_button").onclick = function () {
      location.href = "/sourceSystem/createSource";
    }
  });
</script>
{% endblock %}

{% block tableContentDetails %}
  <div id = srcSysAttributes></div>
{% endblock %}
