<!DOCTYPE html>
<html style="font-size: 16px;" lang="en-IN">
<head>
  <title>{{ title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/nicepage.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
  <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "Site1",
		"logo": "images/logo.png"
}</script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="home">
    <meta property="og:description" content="">
    <meta property="og:type" content="website">
</head>

<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js"></script>

<body style="background-color: #d1c9c9">
  <div id="content">
    {% block header %}
    <div class="header">
      <img src="{{ url_for('static', filename='images/logo.png') }}" width="25" height="30">
      <div class="header-right">
        <a class="active" href="/">Home</a>
      </div>
    </div>
    {% endblock %}
  </div>
</body>

<div class="container" style="padding-bottom: 20px;">
  <div class="flex-container">
    <h1 class="table_frame_heading" style="color:#bd2c2c">Create Data Asset</h1>
    <div style="float:right; padding-right: 20px;">
      <div class="action-fmwrk-button;">
        <button id="cancel_button"; class="fmwrk-button" type="button" style="float:right;" onclick="cancelform()">Cancel</button>
        <button id="submit_button"; class="fmwrk-button" type="button" style="float:right;" onclick="submitform()">Submit</button>
      </div>
    </div>
  </div>
  <div class="triple_frame_section" style="overflow-x: auto; height: 500px;">
    <div class="heading heading-style">New Asset</div>
    <form id="data_asset_gen_det">
      <div class="triple_frame_section-left" style="padding-left: 50px;">
        <label class="form_attribute_headings" for="asset_nm">Data Asset Name</label><br>
        <input class="form_attribute_values" size="30" type="text" id="asset_nm" name="asset_nm"><br><br>
        <label class="form_attribute_headings" for="file_type">File Format</label><br>
        <select class="form_attribute_values" id="file_type" name="file_type" type="text" style="width:31ch">
          <option value="true">csv</option>
          <option value="false">parquet</option>
          <option value="false">json</option>
        </select><br><br>
        <label class="form_attribute_headings" for="subj_area_1">Primary Subject Area</label><br>
        <input class="form_attribute_values" size="30" type="text" id="subj_area_1" name="subj_area_1"><br><br>
        <label class="form_attribute_headings" for="subj_area_2">Secondary Subject Area</label><br>
        <input class="form_attribute_values" size="30" type="text" id="subj_area_2" name="subj_area_2"><br><br>
        <label class="form_attribute_headings" for="support_cntct">Support Contact</label><br>
        <input class="form_attribute_values" size="30" type="text" id="support_cntct" name="support_cntct"><br><br>
      </div>
      <div class="triple_frame_section-middle" style="padding-left: 50px;">
        <label class="form_attribute_headings" for="target_id">Target System Id</label><br>
        <select class="form_attribute_values" id="target_id" name="target_id" type="text" style="width:31ch">
          {% for dict_item in target_system_dict %} 
          <option value="{{dict_item.tgt_sys_id}}">{{dict_item.tgt_sys_id}}</option>
          {% endfor %}
        </select><br><br>
        <label class="form_attribute_headings" for="file_header">File Header</label><br>
        <select class="form_attribute_values" type="text" id="file_header" name="file_header" style="width:31ch">
          <option value="true">True</option>
          <option value="false">False</option>
        </select><br><br>
        <label class="form_attribute_headings" for="trigger_file_pattern">Trigger File Pattern</label><br>
        <input class="form_attribute_values" size="30" type="text" id="trigger_file_pattern" name="trigger_file_pattern"><br><br>
        <label class="form_attribute_headings" for="file_delim">Delimiter</label><br>
        <input class="form_attribute_values" size="30" type="text" id="file_delim" name="file_delim"><br><br>
        <label class="form_attribute_headings" for="asset_owner">Data Owner</label><br>
        <input class="form_attribute_values" size="30" type="text" id="asset_owner" name="asset_owner"><br><br>
      </div>
      <div class="triple_frame_section-right" style="padding-left: 50px;">
        <label class="form_attribute_headings" for="src_sys_id">Source System Id</label><br>
        <select class="form_attribute_values" id="src_sys_id" name="src_sys_id" type="text" style="width:31ch">
          {% for dict_item in source_system_dict %} 
          <option value="{{dict_item.src_sys_id}}">{{dict_item.src_sys_id}}</option>
          {% endfor %}
        </select><br><br>
        <label class="form_attribute_headings" for="multipartition">Multi-part Indicator</label><br>
        <select class="form_attribute_values" id="multipartition" name="multipartition" type="text" style="width:31ch">
          <option value="true">True</option>
          <option value="false">False</option>
        </select><br><br>
        <label class="form_attribute_headings" for="adv_dq">Advanced DQ Rules</label><br>
        <textarea input class="form_attribute_values" cols="30" rows="8" style="color:rgb(168, 73, 73); padding-left: 5px;" type="text" id="adv_dq" name="adv_dq"></textarea><br><br>
      </div>
    </form>
  </div><br><br>
  <div class="data_detail_frame" style="min-height: 700px;">    
    <div class="heading heading-style" style="height: 60px;">
      <div class="flex-container" style="padding-top:5px"> Columns
        <div style="float:right; padding-right: 20px;">
          <div class="action-fmwrk-button;" style="margin-top: -50px;">
            <button id="addColumns_button"; class="fmwrk-button" type="button" style="float:right; width:fit-content">Add Columns</button>
            <button id="remColumns_button"; class="fmwrk-button" type="button" style="float:right; width:fit-content" onclick="remColumns_button()">Clear All</button>
            <!--<button id="test_button"; class="fmwrk-button" type="button" style="float:right; width:fit-content">Test</button>-->
          </div>
        </div>
      </div>
    </div><br>
    <div id="column_blocks"></div>
  </div>
  <!--
  <div class="action-fmwrk-button;" style="margin-top:-30px;">
    <button id="add_column"; class="fmwrk-button" type="button" style="float:left; width: 100px; height: 30px; font-size: 12px;" onclick="addColumn()">Add Column</button><br><br>
  </div>
  -->
  <div></div><br><br>
</div>
<div id="overlay" onclick="submitform()"></div>
<div id="loader" class="loader"></div>

<script type="text/javascript">

  function formToJsonGenDet(formList){
    data = {}
    console.log(formList)
    for(var i=0; i<formList.length; i++) {
      var element = formList[i]
      data[element.name] = element.value
    }
    return JSON.stringify(data);
  }

  var col_id=1
  $(document).ready(function() {
    $("#addColumns_button").click(function() {
      var builtHTML = ' \
      <form id="data_asset_col_det' + col_id + '"> \
        <div class="column_detail_block" style="height: 280px; margin-left: 30px"> \
          <div class="triple_frame_section" style="background-color: rgb(255, 247, 247)"> \
            <div class="triple_frame_section-left" style="padding-left: 100px;"> \
              <label class="form_attribute_headings" for="src_sys_id">Column Id</label><br> \
              <input class="form_attribute_values" size="20" type="text" id="col_id' + col_id + '" name="col_id" value="' + col_id + '" disabled><br><br> \
              <label class="form_attribute_headings" for="src_sys_id">Column Description</label><br> \
              <input class="form_attribute_values" size="20" type="text" id="col_desc' + col_id + '" name="col_desc"><br><br> \
              <label class="form_attribute_headings" for="src_sys_id">Primary Key</label><br> \
              <select class="form_attribute_values" type="text" id="pk_ind' + col_id + '" name="pk_ind"> \
                <option value="true">True</option> \
                <option value="false">False</option> \
              </select><br><br> \
            </div> \
            <div class="triple_frame_section-middle" style="padding-left: 100px;"> \
              <label class="form_attribute_headings" for="src_sys_id">Column Name</label><br> \
              <input class="form_attribute_values" size="20" type="text" id="col_nm' + col_id + '" name="col_nm"><br><br> \
              <label class="form_attribute_headings" for="src_sys_id">Column Length</label><br> \
              <input class="form_attribute_values" size="20" type="text" id="col_length' + col_id + '" name="col_length"><br><br> \
              <label class="form_attribute_headings" for="src_sys_id">Nullable</label><br> \
              <select class="form_attribute_values" type="text" id="nullable' + col_id + '" name="nullable"> \
                <option value="true">True</option> \
                <option value="false">False</option> \
              </select><br><br> \
            </div> \
            <div class="triple_frame_section-right" style="padding-left: 100px;"> \
              <label class="form_attribute_headings" for="Classification">Classification</label><br> \
              <select class="form_attribute_values" type="text" id="data_classification' + col_id + '" name="data_classification"><br><br> \
                <option value="public">Public</option> \
                <option value="proprietary">Proprietary</option> \
                <option value="confidential">Confidential</option> \
                <option value="sensitive">Sensitive</option> \
              </select><br><br> \
              <label class="form_attribute_headings" for="src_sys_id">Tokenization</label><br> \
              <select class="form_attribute_values" type="text" id="req_tokenization' + col_id + '" name="req_tokenization"> \
                <option value="true">True</option> \
                <option value="false">False</option> \
              </select><br><br> \
              <label class="form_attribute_headings" for="src_sys_id">Data Type</label><br> \
              <select class="form_attribute_values" type="text" id="data_type' + col_id + '" name="data_type"><br><br> \
                <option value="String">String</option> \
                <option value="Integral">Integer</option> \
                <option value="Fractional">Decimal</option> \
                <option value="Boolean">Boolean</option> \
              </select><br><br> \
            </div> \
          </div> \
        </div> \
        <!--<button id="rem_col_det"; class="fmwrk-button" type="button" style="float:right;">-</button>--> \
      </form>'

      //var rem_col_det_button_$col_id = $("<button id=\"rem_col_det\"; class=\"fmwrk-button\" type=\"button\" style=\"float:right;\">-</button>")
      //rem_col_det_button.click(function() {
      //  $(this).parent().remove();
      //});
      //var end_form = $("</form>")

      $("#column_blocks").append(builtHTML);
      col_id=col_id+1
    });
  });

  function remColumns_button() {
    document.getElementById("column_blocks").innerHTML = "";
    col_id=1
  }

  function submitform(){
    var no_of_cols = col_id-1
    var dataAssetColDet = { "columns": []}

    var dataAssetGenDet = formToJsonGenDet($('#data_asset_gen_det').serializeArray())
    for(i=1; i<=no_of_cols; i++) {
      $("#" + "col_id" + i).prop('disabled', false);
      dataAssetColDet.columns[i-1] = formToJsonGenDet($("#" + "data_asset_col_det" + i).serializeArray())
      $("#" + "col_id" + i).prop('disabled', true);
    }
    
    $.ajax({
      type: "POST",
      url: "/sourceSystemAsset/editSourceAsset/create",
      data: JSON.stringify({"dataAssetGenDet": dataAssetGenDet, "dataAssetColDet": dataAssetColDet}),
      dataType: "json",
      contentType: "application/json; charset=utf-8;",
      crossDomain: true,
      beforeSend: function(){
        document.getElementById("overlay").style.display = "block";
        $('.loader').css("visibility", "visible");
      },
      complete: function(){
        $('.loader').css("visibility", "visible");
    },
      success: function(response) {
        if (response.redirect) {
          window.location.href = response.redirect;
        }
      },
    })
  };

  function cancelform(){
    location.href = "/sourceSystemAsset";
    document.getElementById("overlay").style.display = "block";
    $('.loader').css("visibility", "visible");
  };
</script>