<!DOCTYPE html>
<html style="font-size: 16px;" lang="en-IN">
<head>
  <title>{{ title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/nicepage.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
  <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
  <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700|Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">
  <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "Site1",
		"logo": "images/logo.png"
}</script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="home">
    <meta property="og:description" content="">
    <meta property="og:type" content="website">
</head>

<body style="background-color: #f8f8f8">
  <div id="content">
    {% block header %}
    <div class="header">
      <img src="{{ url_for('static', filename='images/logo.png') }}" width="25" height="30">
      <div class="header-right">
        <a class="active" href="/">Home</a>
      </div>
    </div>
    {% endblock %}

    <div class="container" style="margin-top: 20px;">
      <div class="table_frame">
        <div class="flex-container">
          <h1 class="table_frame_heading" style="color:#bd2c2c">{{ title }}</h1>
          <div style="float:right; padding-right: 20px;">
            <div class="action-fmwrk-button;">
              <button id="create_button"; class="fmwrk-button" type="button" style="float:right;">Create</button>
              <button id="modify_button"; class="fmwrk-button" type="button" style="float:right;" disabled>Modify</button>
              <button id="delete_button"; class="fmwrk-button" type="button" style="float:right;" disabled>Delete</button>
            </div>
          </div>
        </div>
        <hr style="width:70%;text-align:left;margin-top:5px;color:#640000"></hr>
        <div class="container" style="padding-left: 20px; padding-right: 10%;">
          {% block tableHeader %}{% endblock %}
        </div>
      </div>
    </div>

    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js"></script>
    
    <div class="container" style="margin-left:100px; padding-left:100px;">
      {% block tableContent %}{% endblock %}
    </div>

    <div class="container">
      <div></div><br><br>
      <!--<hr style="width:80%;margin-left:10%;margin-top:35px;margin-bottom:50px;color:#640000">-->
      {% block tableContentDetails %}{% endblock %}
    </div>
    <div></div><br><br>
  </div>
</body>
</html>